#query files
*.sql
!infra/postgres/*.sql

.env
.DS_Store
__pycache__/
*.py[cod]
.venv/
node_modules/
.postman/
postman/
postman/*
.pnpm-store/
.next/
*.tsbuildinfo
dist/
build/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/raw/public_cache/
data/manual/
.vercel
docs/deployment.md
